@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: rgb(247, 224, 227);
  padding: 0;
  margin: 0;
}

.nav-bar {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
}

h1 {
  font-family: 'Pacifico', cursive;
}
